Repository Armor-test/content-connector-750, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-ui, @Armor-test/unit-design, @Armor-test/team-notifications, @Armor-test/unit-test, @Armor-test/grp-integration, @Armor-test/squad-frontend, @Armor-test/team-security, @Armor-test/grp-ui, @Armor-test/team-logging, @Armor-test/squad-ux, @Armor-test/team-reporting, @Armor-test/squad-qa, @Armor-test/dept-api, @Armor-test/dept-billing, @Armor-test/squad-cache, @Armor-test/squad-performance, @Armor-test/dept-identity, @Armor-test/squad-tooling, @Armor-test/dept-automation, @Armor-test/grp-search, @Armor-test/dept-reporting, @Armor-test/squad-product, @Armor-test/team-governance, @Armor-test/dept-data, @Armor-test/grp-storage, @Armor-test/team-core, @Armor-test/dept-notifications, @Armor-test/squad-api, @Armor-test/squad-ml, @Armor-test/team-frontend, @Armor-test/squad-cloud, @Armor-test/grp-api, @Armor-test/dept-test, @Armor-test/grp-payments, @Armor-test/squad-payments, @Armor-test/squad-database, @Armor-test/dept-security, @Armor-test/dept-release, @Armor-test/squad-research, @Armor-test/unit-cloud, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/compliance, @Armor-test/infra

.github/CODEOWNERS:

# CODEOWNERS file for content-connector-750
# Global owners - will be requested for all PRs
* @Armor-test/dept-ui @Armor-test/unit-design @Armor-test/team-notifications

# Directory ownership
/middleware/ @Armor-test/unit-test @Armor-test/grp-integration @Armor-test/squad-frontend
/static/ @Armor-test/team-security @Armor-test/grp-ui
/views/ @Armor-test/team-logging @Armor-test/team-security @Armor-test/grp-integration
/build/ @Armor-test/squad-ux @Armor-test/team-reporting @Armor-test/squad-qa
/common/ @Armor-test/dept-api @Armor-test/dept-billing
/services/ @Armor-test/squad-cache @Armor-test/squad-performance @Armor-test/dept-identity
/hooks/ @Armor-test/squad-tooling @Armor-test/grp-integration @Armor-test/dept-automation
/config/ @Armor-test/grp-search @Armor-test/dept-reporting
/auth/ @Armor-test/grp-ui @Armor-test/squad-product @Armor-test/squad-cache
/security/ @Armor-test/team-governance @Armor-test/dept-data
/shared/ @Armor-test/squad-cache @Armor-test/grp-storage @Armor-test/team-core
/controllers/ @Armor-test/dept-ui @Armor-test/dept-notifications @Armor-test/dept-reporting

# File type ownership
*.yaml @Armor-test/squad-api @Armor-test/squad-qa @Armor-test/squad-ml
*.gradle @Armor-test/team-frontend @Armor-test/dept-api @Armor-test/dept-ui
*.toml @Armor-test/squad-cloud @Armor-test/grp-api @Armor-test/squad-qa
*.cpp @Armor-test/team-notifications @Armor-test/dept-test @Armor-test/grp-payments
*.yml @Armor-test/squad-tooling @Armor-test/team-reporting
*.tsx @Armor-test/squad-payments @Armor-test/dept-reporting
*.sh @Armor-test/squad-database @Armor-test/dept-security @Armor-test/dept-api
*.md @Armor-test/squad-cache @Armor-test/team-frontend
*.h @Armor-test/grp-api @Armor-test/squad-cloud @Armor-test/dept-release
*.py @Armor-test/squad-research @Armor-test/unit-cloud
*.js @Armor-test/dept-ui @Armor-test/dept-notifications @Armor-test/dept-security

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
Dockerfile @Armor-test/devops @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-ui, @Armor-test/unit-design, @Armor-test/team-notifications

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-ui, @Armor-test/unit-design, @Armor-test/team-notifications

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-ui, @Armor-test/unit-design, @Armor-test/team-notifications

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-research, @Armor-test/unit-cloud

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-ui, @Armor-test/dept-notifications, @Armor-test/dept-security
